<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
   <key>CFBundleExecutable</key>
   <string>AB2TS_NixieClock_uni64</string>
   <key>CFBundleName</key>
   <string>AB2TS_NixieClock_uni64</string>
   <key>CFBundleIdentifier</key>
   <string>com.ab2ts.nixieclock2025</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleVersion</key>
   <string>2025.0.0.0.0</string>
   <key>CFBundleDevelopmentRegion</key>
   <string>en</string>
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   <key>CFBundleSignature</key>
   <string>????</string>
   <key>NSHumanReadableCopyright</key>
   <string>Michael Sciascia 2009-2025</string>
   <key>CFBundleShortVersionString</key>
   <string>20250107.1300</string>
   <key>CFBundleIconFile</key>
   <string>App</string>
   <key>LSMinimumSystemVersion</key>
   <string>10.14</string>
<key>NSHighResolutionCapable</key><true/>
   <key>DTSDKBuild</key>
   <string>20C63</string>
<key>CFBundleSupportedPlatforms</key><array><string>MacOSX</string></array>
</dict>
</plist>